<!-- BEGIN: Side Menu -->
<nav class="side-nav">
    <a href="/" class="intro-x flex items-center pl-5 pt-4">
        <img alt="PCheck" class="w-6" src="~/assets/images/logo-phoenix-s.png">
        <span class="hidden xl:block text-white text-lg ml-3"> NQ<span class="font-medium">Med</span> </span>
    </a>
    <div class="side-nav__devider my-6"></div>
    <ul>
        <li>
            <a href="@Url.Action("Index", "Dashboard")" class="side-menu ">
                <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                <div class="side-menu__title"> Tổng quan </div>
            </a>
        </li>
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <i data-feather="menu"></i> </div>
                <div class="side-menu__title"> Danh mục <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="@Html.Raw(Url.Action("Index", "Medicine"))" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Thuốc </div>
                    </a>
                </li>
                <li>
                    <a href="@Html.Raw(Url.Action("Index", "Group"))" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Nhóm thuốc </div>
                    </a>
                </li>
                <li>
                    <a href="@Html.Raw(Url.Action("Index", "Unit"))" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Đơn vị tính </div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <i data-feather="archive"></i> </div>
                <div class="side-menu__title"> Quản lý kho <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="fast-forward"></i> </div>
                        <div class="side-menu__title"> Nhập kho <i data-feather="chevron-down" class="side-menu__sub-icon"></i></div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="@Html.Raw(Url.Action("Index", "Input"))" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="list"></i> </div>
                                <div class="side-menu__title"> Danh sách phiếu nhập </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Url.Action("Complete", "Input"))" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="check-circle"></i> </div>
                                <div class="side-menu__title"> Đã hoàn thành </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Url.Action("Saved", "Input"))" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="save"></i> </div>
                                <div class="side-menu__title"> Đã lưu </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Url.Action("Canceled", "Input"))" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="x-circle"></i> </div>
                                <div class="side-menu__title"> Đã hủy </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="@Html.Raw(Url.Action("Index", "Output"))" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="rewind"></i> </div>
                        <div class="side-menu__title"> Xuất kho </div>
                    </a>
                </li>
                <li>
                    <a href="@Html.Raw(Url.Action("Index", "Stock"))" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="pocket"></i> </div>
                        <div class="side-menu__title"> Kiểm kho </div>
                    </a>
                </li>
                <li>
                    <a href="@Html.Raw(Url.Action("Index", "Inventory"))" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Tồn kho </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="bell"></i> </div>
                        <div class="side-menu__title"> Cảnh báo <i data-feather="chevron-down" class="side-menu__sub-icon"></i></div>
                    </a>
                    <ul class="">
                        <li>
                            <a href="@Html.Raw(Url.Action("Expired", "InputInfo"))" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="calendar"></i> </div>
                                <div class="side-menu__title"> Thuốc đã hết hạn </div>
                            </a>
                        </li>
                        <li>
                            <a href="@Html.Raw(Url.Action("OutOfInventory", "Inventory"))" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="package"></i> </div>
                                <div class="side-menu__title"> Thuốc sắp hết trong kho </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="side-menu">
                <div class="side-menu__icon"> <i data-feather="users"></i> </div>
                <div class="side-menu__title"> Đối tác <i data-feather="chevron-down" class="side-menu__sub-icon"></i> </div>
            </a>
            <ul class="">
                <li>
                    <a href="@Html.Raw(Url.Action("Index", "Supplier"))" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="activity"></i> </div>
                        <div class="side-menu__title"> Nhà cung cấp </div>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!-- END: Side Menu -->