@using Falcon.Web.Mvc.HtmlExtensions
@model Phoenix.Server.Web.Areas.Admin.Models.Output.OutputModel

<script>
    var tableContent = [];
    function render_tbody() {
        let template = (stt, id, @*name, duedate, lotnumber, *@ lotnumber, count, @*inputprice, total*@) => `<tr class="bg-gray-200 dark:bg-dark-1">
                            <td class="border-b dark:border-dark-5">${stt}</td>
                            <td class="border-b dark:border-dark-5">${id}</td>
                            @*<td class="border-b dark:border-dark-5">{name}</td>
                            <td class="border-b dark:border-dark-5">{duedate}</td>
                            <td class="border-b dark:border-dark-5">{lotnumber}</td>*@
                            <td class="border-b dark:border-dark-5">${lotnumber}</td>
                            <td class="border-b dark:border-dark-5">
                                <input type="text" class="form-control" aria-label="Count" aria-describedby="input-group-price" value="${count}" onchange="onCountChange(${id}, this.value)"/>
                            </td>
                            @*<td class="border-b dark:border-dark-5">{inputprice}</td>
                            <td class="border-b dark:border-dark-5">{total}</td>*@
                            <td class="border-b dark:border-dark-5">
                                <button href="javascript:;" data-toggle="modal-cancel" data-target="#custom-content-tooltip" type="submit" class="btn btn-danger mr-1 mb-2" onclick="onDeleteChange(${id})">
                                    <i data-feather="trash" class="w-5 h-5"> </i>
                                </button>
                            </td>
                        </tr>`;
        let htmlTemplate = "";
        tableContent.map(function (row, index) {
            htmlTemplate += template(index + 1, row.medicineId, @*row.medicineName, row.DueDate, row.LotNumber, *@row.LotNumber, row.Count @*, row.InputPrice, row.Total*@)
        })
        $("#tbody").html(htmlTemplate)
        $("#tableContent").val(JSON.stringify(tableContent))
    }
    //cập nhật số lượng
    function onCountChange(medicineId, val) {
        tableContent = tableContent.map(function (row) {
            if (row.medicineId == medicineId) {
                row.Count = val;
            }
            return row;
        })
        render_tbody()
    }
    //button delete item
    function onDeleteChange(medicineId) {
        tableContent = tableContent.filter(e => e.medicineId != medicineId)
        render_tbody()
    }

    $(document).ready(function () {
        render_tbody()
    })
</script>

@Html.ValidationSummary(true)
@Html.HiddenFor(model => model.Id)
<input type="hidden" id="tableContent" name="tableContent" />
<div class="grid grid-cols-12 gap-6 mt-5">
    <div class="intro-y col-span-12 lg:col-span-6">
        <div class="intro-y box p-5">
            <div class="mt-3">
                <label>Tên người tạo </label>
                <div class="mt-2">
                    @Html.DropDownList("IdStaff", null, new { @class = "form-control input input--switch border" })
                </div>
            </div>
            <div class="mt-3">
                <label">Thuốc</label>
                <div class="mt-2">
                    @Html.DropDownList("IdMedicine", null, "Vui lòng chọn thuốc cần xuất", new { @class = "form-control input input--switch border" })
                </div>
            </div>
        </div>
    </div>
    <div class="intro-y col-span-12 lg:col-span-6">
        <div class="intro-y box p-5">
            <div class="mt-3">
                <label>Ngày xuất</label>
                <div class="mt-2">
                    <input class="datepicker form-control w-56 block mx-auto" data-single-mode="true">
                </div>
            </div>
            <div class="mt-3">
                <label>Phân loại xuất</label>
                <div class="mt-2">
                    @Html.DropDownList("IdReason", null, new { @class = "form-control input input--switch border" })
                </div>
            </div>
        </div>
    </div>
</div>
<div class="intro-y box p-5 mt-5">
    <table class="table">
        <thead>
            <tr>
                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Mã thuốc</th>
                 @*<th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Tên thuốc</th>
                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">HSD</th>
                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Số lô</th>*@
                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Số lô</th>
                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Số lượng</th>
                @*<th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Giá</th>
                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Thành tiền</th>*@
                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap"></th>
            </tr>
        </thead>
        <tbody id="tbody">
        </tbody>
    </table>
</div>

<script>
    $("#IdMedicine").on("change", function (e) {
        if ($("#IdMedicine option:selected").val() > 0) {
            //console.log("idmedicine >> " + $('#IdMedicine option:selected').text() + "   lotnumber >>" + $("#IdMedicine ").val())
            //console.log(e)
            tableContent.push({
                medicineId: $("#IdMedicine option:selected").text(),
                //medicineName: $('#IdMedicine option:selected').val(),
                //DueDate: new Date(), //hạn sử dụng
                //LotNumber: $('#Count option:selected').val(), //lô
                LotNumber: $("#IdMedicine option:selected").val(), //số lượng tồn
                Count: 0,  //số lượng xuất
                //InputPrice: 200, //giá mới nhất của phiếu nhập
                //Total: 0, //tổng tiền = giá * số lượng xuất
            });
            render_tbody();
        }
        
        //JSON.stringify(tableContent)
    })
</script>
@*<div class="content">
        <div class="form-horizontal">
            <div class="nav-tabs-custom">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Tên chương trình</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.FalconEditorFor(model => model.Name)
                                    @Html.ValidationMessageFor(model => model.Name)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Ngày bắt đầu</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="datetime" id="@Html.FieldIdFor(model => model.StartAt)" name="@Html.FieldIdFor(model => model.StartAt)" value="@Model.StartAt" />
                                    <script>
                                        $(document).ready(function() {
                                            $("#@Html.FieldIdFor(model => model.StartAt)").kendoDateTimePicker({
                                                culture: "vi-VN",
                                                format: "dd-MM-yyyy HH:mm:ss"
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Ngày kết thúc</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="datetime" id="@Html.FieldIdFor(model => model.EndAt)" name="@Html.FieldIdFor(model => model.EndAt)" value="@Model.EndAt" />
                                    <script>
                                        $(document).ready(function() {
                                            $("#@Html.FieldIdFor(model => model.EndAt)").kendoDateTimePicker({
                                                culture: "vi-VN",
                                                format: "dd-MM-yyyy HH:mm:ss"
                                            });
                                        });
                                    </script>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Ghi chú</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.FalconTextAreaFor(model => model.Note)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Hoạt động</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.FalconEditorFor(model => model.Active)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Hình ảnh</label>
                                </div>
                                <div class="col-md-8">
                                    @Html.EditorFor(model => model.ImageRecordId, "PictureNullable")
                                    @Html.ValidationMessageFor(model => model.ImageRecordId)
                                    <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                                        Sau khi tải ảnh vui lòng nhấn "Lưu" hoặc "Lưu và chỉnh sửa"!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @if (Model.Id > 0)
            {
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Danh sách sản phẩm <b>thuộc chương trình</b>
                                </div>
                                <div class="panel-body">
                                    <div id="productProject-grid"></div>

                                    <script>
                                            $(document).ready(function() {
                                                $("#productProject-grid").kendoGrid({
                                                    dataSource: {
                                                        type: "json",
                                                        transport: {
                                                            read: {
                                                                url: "@Html.Raw(Url.Action("ProductInProject", "Project"))",
                                                                type: "POST",
                                                                dataType: "json",
                                                                data: additionalData
                                                            }
                                                        },
                                                        schema: {
                                                            data: "Data",
                                                            total: "Total",
                                                            errors: "Errors"
                                                        },
                                                        error: function(e) {
                                                            display_kendoui_grid_error(e);
                                                            // Cancel the changes
                                                            this.cancelChanges();
                                                        },
                                                        pageSize: @(defaultGridPageSize),
                                                        serverPaging: true,
                                                        serverFiltering: true,
                                                        serverSorting: true
                                                    },
                                                    pageable: {
                                                        refresh: true,
                                                        pageSizes: [@(gridPageSizes)],
                                                        messages: {
                                                            itemsPerPage: "Số sản phẩm trên trang",
                                                            empty: "Không có sản phẩm",
                                                            display: "{0} - {1} của {2} sản phẩm",
                                                        },
                                                    },
                                                    editable: {
                                                        confirmation: "Delete",
                                                        mode: "inline"
                                                    },
                                                    scrollable: false,
                                                    columns: [
                                                        {
                                                            field: "Name",
                                                            title: "Tên sản phẩm",
                                                            width: 250,
                                                            headerAttributes: { style: "text-align:center" },
                                                        },
                                                        {
                                                            field: "Active",
                                                            title: "Hoạt động",
                                                            width: 80,
                                                            headerAttributes: { style: "text-align:center" },
                                                            attributes: { style: "text-align:center" },
                                                            template: "#if(Active){#<i class='fa fa-check-square-o' aria-hidden='true'></i>#}else{#<i class='fa fa-square-o' aria-hidden='true'></i>#}#"
                                                        },
                                                        {
                                                            width: 100,
                                                            template:
                                                                '<button class="btn btn-danger" type="button" onclick="RevokeProduct(#=Id#)">Bỏ</button>',
                                                            headerAttributes: { style: "text-align:center" },
                                                            attributes: { style: "text-align:center" }
                                                        }
                                                    ]
                                                });
                                            });
                                    </script>
                                    <script>
                                        function additionalData() {
                                            var data = {
                                                Id: $('#Id').val(),
                                            };
                                            addAntiForgeryToken(data);
                                            return data;
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-group">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    Danh sách sản phẩm <b>không thuộc chương trình</b>
                                </div>
                                <div class="panel-body">
                                    <div class="box-tools">
                                        <div class="input-group input-group-sm" style="width: 100%;">
                                            <input type="text" name="productText" id="productText" class="form-control pull-right" placeholder="Tên sản phẩm">

                                            <div class="input-group-btn">
                                                <button id="btnSearch-RemainPlace" class="btn btn-default"><i class="fa fa-search"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="productNotProject-grid"></div>

                                    <script>
                                            $(document).ready(function() {
                                                $("#productNotProject-grid").kendoGrid({
                                                    dataSource: {
                                                        type: "json",
                                                        transport: {
                                                            read: {
                                                                url: "@Html.Raw(Url.Action("ProductNotInProject", "Project"))",
                                                                type: "POST",
                                                                dataType: "json",
                                                                data: additionalData2
                                                            }
                                                        },
                                                        schema: {
                                                            data: "Data",
                                                            total: "Total",
                                                            errors: "Errors"
                                                        },
                                                        error: function(e) {
                                                            display_kendoui_grid_error(e);
                                                            // Cancel the changes
                                                            this.cancelChanges();
                                                        },
                                                        pageSize: @(defaultGridPageSize),
                                                        serverPaging: true,
                                                        serverFiltering: true,
                                                        serverSorting: true
                                                    },
                                                    pageable: {
                                                        refresh: true,
                                                        pageSizes: [@(gridPageSizes)],
                                                        messages: {
                                                            itemsPerPage: "Số sản phẩm trên trang",
                                                            empty: "Không có sản phẩm",
                                                            display: "{0} - {1} của {2} sản phẩm",
                                                        },
                                                    },
                                                    editable: {
                                                        confirmation: "Delete",
                                                        mode: "inline"
                                                    },
                                                    scrollable: false,
                                                    columns: [
                                                        {
                                                            field: "Name",
                                                            title: "Tên sản phẩm",
                                                            width: 250,
                                                            headerAttributes: { style: "text-align:center" },
                                                        },
                                                        {
                                                            field: "Active",
                                                            title: "Hoạt động",
                                                            width: 80,
                                                            headerAttributes: { style: "text-align:center" },
                                                            attributes: { style: "text-align:center" },
                                                            template: "#if(Active){#<i class='fa fa-check-square-o' aria-hidden='true'></i>#}else{#<i class='fa fa-square-o' aria-hidden='true'></i>#}#"
                                                        },
                                                        {
                                                            width: 100,
                                                            template:
                                                                '<button class="btn bg-green-active" type="button" onclick="ChooseProduct(#=Id#)"><i class="fa fa-plus"></i>Chọn</button>',
                                                            headerAttributes: { style: "text-align:center" },
                                                            attributes: { style: "text-align:center" }
                                                        }
                                                    ]
                                                });
                                            });
                                    </script>
                                    <script>
                                        function additionalData2() {
                                            var data = {
                                                Id: $('#Id').val(),
                                                Name: $("#prodcutText").val()
                                            };
                                            addAntiForgeryToken(data);
                                            return data;
                                        }
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <script>

                        $("#btnSearch-RemainPlace").click(function() {
                            var grid = $('#productNotProject-grid').data('kendoGrid');
                            grid.dataSource.page(1); //new search. Set page size to 1
                            return false;
                        });

                        function ChooseProduct(id) {
                            var req = {
                                Id: $("#Id").val(),
                                ProductId: id
                            };
                            var choosePlaceResponse = $.post("@Html.Raw(Url.Action("ChooseProduct", "Project"))",
                                addAntiForgeryToken(req));
                            choosePlaceResponse.done(function(data) {
                                if (data.Result > 0) {
                                    alert(data.Message);
                                }
                            }).fail(function() {
                                alert("error server");
                            }).always(function() {
                                var grid = $('#productProject-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                var grid1 = $('#productNotProject-grid').data('kendoGrid');
                                grid1.dataSource.page(1); //new search. Set page size to 1
                            });

                        }

                        function    Product(id) {
                            var req = {
                                Id: $("#Id").val(),
                                ProductId: id
                            };
                            var revokePlaceResponse = $.post("@Html.Raw(Url.Action("RevokeProduct", "Project"))",
                                addAntiForgeryToken(req));
                            revokePlaceResponse.done(function(data) {
                                if (data.Result > 0) {
                                    alert(data.Message);
                                }
                            }).fail(function() {
                                alert("error server");
                            }).always(function() {
                                var grid = $('#productProject-grid').data('kendoGrid');
                                grid.dataSource.page(1); //new search. Set page size to 1
                                var grid1 = $('#productNotProject-grid').data('kendoGrid');
                                grid1.dataSource.page(1); //new search. Set page size to 1
                            });
                        }
                </script>
            }
        </div>
    </div>*@@*
<script>
$("#IdStaff").kendoComboBox({
    dataTextField: "Name",
    dataValueField: "IdStaff",
    dataSource: {
        type: "json",
        transport: {
            read: {
                url: "@Html.Raw(Url.Action("List", "Staff"))",
                type: "POST",
                datatype: "json"
            }
        },
        schema: {
            data: "Data",
            total: "Total",
            error: "Error"
        }
    }
});
$("#IdStaff").closest('.k-combobox').addClass("form-control");
/////////
$("#IdSupplier").kendoComboBox({
    dataTextField: "Name",
    dataValueField: "IdSupplier",
    dataSource: {
        type: "json",
        transport: {
            read: {
                url: "@Html.Raw(Url.Action("List", "Supplier"))",
                type: "POST",
                datatype: "json"
            }
        },
        schema: {
            data: "Data",
            total: "Total",
            error: "Error"
        }
    }
});
$("#IdSupplier").closest('.k-combobox').addClass("form-control");
//$("#ProductTypeId").kendoComboBox({
//    dataTextField: "Name",
//    dataValueField: "Id",
//    dataSource:
//        [{ Id: 1, Name: "A" },
//            {Id: 1, Name: "B"}
//        ]

//});
//$("#ProductTypeId").closest('.k-combobox').addClass("form-control");
</script>*@

